body {
  /* Use system fonts https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}

h1 small {
  color: #999;
}

button, select {
  height: 30px;
}

button {
  background-color: #0275d8;
  border: 1px solid #0275DA;
  cursor: pointer;
  color: white;
  font-size: inherit;
}

button:hover {
  background-color: #025aa5;
}

#url-bar {
  display: flex;
  margin: 1em 0;
}

#url {
  flex: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: inherit;
  margin: 0 .5em;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* Output and syntax highlighting */

pre {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 5px;
  overflow: auto;
  min-height: 200px;
}

.string {
  color: #080;
}
.boolean {
  color: #008;
}
.number {
  color: #800;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}